/* Name: D'Mitri Seymour */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset */


/* 

Start of custom styles 

*/
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-Gray: #222222;
    --light-Gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* For content that needs to be hidden but still accessible, see https://webaim.org/techniques/css/invisiblecontent/ for more information */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 

General Styles 

*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--white);
    color: var(--dark-Gray);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Molle', cursive;
    font-weight: 400;
    color: var(--dark-Gray);
}

h2,
h3 {
    font-size: 40px;
}

h4,
p,
q,
small,
nav,
button,
form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--dark-Gray);
}

h4 {
    font-size: 26px;
    font-weight: 600;
}




/* 

Header Section

*/
header {
    background-image: linear-gradient(to bottom, var(--teal), var(--white));
    padding: 1rem;
    text-align: left;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
    margin-bottom: 10px;
}

#logo {
    display: inline-block;
}

nav {
    margin-bottom: 1rem;
}

#menu-toggle {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

#menu-toggle input {
    display: none;
}

#menu-toggle label {
    display: block;
    background-color: var(--yellow);
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#menu-toggle ul {
    display: none;
    list-style-type: none;
    padding: 0;
    background-color: var(--teal);
    color: var(--black);
}

#menu-toggle li a {
    display: block;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: var(--black);
}

#menu-toggle input:checked~ul {
    display: block;
}


/* 

Intro Section 
    
*/
#intro h2 {
    text-align: left;
    padding-left: 1.5rem;
}

#intro p {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#intro img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

#intro picture {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px;
}

/* 

Plan Section 

*/

#plan {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-gap: 10px;
    background-color: var(--yellow);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

#plan h3 {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}

#plan div section {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    width: 300px;
    height: 300px;
    border: 2px solid var(--white);
    border-radius: 10px;
    margin-bottom: 10px;

}

#plan div section h4 {
    text-align: center;
    margin-bottom: 10px;
}

#plan div section img {
    width: 90%;
    height: 90%;
}


/* 

Testimonials section 

*/

#testimonials h3 {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

#testimonials section {
    text-align: center;
    margin: 20px;
}

#testimonials img {
    display: block;
    margin: 0 auto;
}

#testimonials h4 {
    margin-top: 10px;
}

#testimonials p,
#testimonials q {
    display: block;
    margin: 0 auto;
}

#testimonials q {
    font-style: italic;
}

/* 

About Section 

*/
#about {
    background-color: var(--blue);
}

#about h3 {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

#about div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#about section {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#about img,
#about h4,
#about p {
    display: block;
    margin: 0 auto;
}

#about h4 {
    font-size: 20px;
}

#about img {
    width: 100px;
    height: 100px;
}


/* 

Contact Section 

*/
#contact {
    max-width: 90%;
    margin: 0 auto;
}

#contact h3 {
    margin-top: 20px;
    text-align: left;
}

.form-required {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.required {
    color: var(--purple);
}


#contact label {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

#contact legend {
    font-size: 20px;
    font-weight: 600;
}


input[type="text"],
input[type="email"],
input[type="tel"],
.custom-select select {
    display: block;
    width: 100%;
    border: 2px solid var(--purple);
    margin-bottom: 10px;
    padding: 10px;

    font-size: 16px;
    box-sizing: border-box;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.radio-input input {
    display: none;
}

.radio-control {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--purple);
    position: relative;
}

.radio-input input:checked+.radio-control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--purple);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-select {
    position: relative;
    display: block;
    width: 100%;

}

.custom-select select {
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--purple);
    font-size: 16px;
    box-sizing: border-box;
}

.custom-select .focus {
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--purple);
    pointer-events: none;
    margin-right: 20px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

/* footer */

footer {
    background-color: var(--light-Gray);
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    padding-bottom: 20px;
}

footer a {
    color: var(--black);
    padding-top: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* 

Responsive Design - Medium Screen 

*/
@media screen and (min-width: 700px) {

    /* 
    
    Header Section
    
    */

    header {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto;
        align-items: center;
        padding: 10px;
    }

    #logo {
        grid-row: 1 / 3;
        grid-column: 1;
    }

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        grid-row: 1;
        grid-column: 2;
        margin-top: 40px;
    }

    p {
        grid-row: 2;
        grid-column: 2;
    }

    nav {
        margin-top: 20px;
        grid-row: 3;
        grid-column: 1 / 3;
    }

    #menu-toggle label {
        display: none;
    }

    #menu-toggle ul {
        display: flex;
        padding: 0;
        background-color: transparent;
        justify-content: center;
    }

    #menu-toggle li {
        background-color: var(--white);
        white-space: nowrap;
        margin: 0 10px;
        padding: 5px 5px;
        text-align: center;
        cursor: pointer;

        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 15px;
    }

    #menu-toggle .active {
        background-color: var(--yellow);
    }


    /* 
    
    Intro Section
    
    */

    #intro {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #intro h2 {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: left;
        /*margin-left: -10px;*/
        margin-left: 30px;
        margin-right: 30px;
    }

    #intro p {
        grid-column: 1 / 3;
        grid-row: 2;
        text-align: left;
        /*margin-left: -10px;*/
        margin-left: 30px;
        margin-right: 30px;
    }

    #img-grid {
        grid-column: 1 / 3;
        grid-row: 3;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 15px;
        padding-left: 15px;
        padding-right: 15px;

        margin-right: 40px;
        margin-left: 40px;

    }

    #img-grid img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    #img-grid picture {
        grid-column: 1 / 3;
        grid-row: 2;
        margin-bottom: 5px;
    }

    /* 
    
    Plan Section
    
    */

    #plan {
        background-color: var(--yellow);
        padding: 30px;
        text-align: center;
    }

    #plan h3 {
        text-align: left;
        margin-left: 10px;
    }

    #plan div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    #plan div section {
        background-color: var(--teal);
        border-radius: 10px;
        border: 3px solid var(--white);
        width: calc(40%);
        padding: 15px;
        width: 300px;
        height: 300px;

        box-sizing: border-box;
    }

    #plan div section h4 {
        text-align: center;
        margin-bottom: 10px;
        color: var(--black);
    }

    #plan div section a {
        display: block;
        text-align: center;
    }

    #plan div section img {
        max-width: auto;
        height: auto;
    }


    /* 

    Testimonials Section

    */

    #testimonials {
        padding: 30px;
        text-align: center;
    }

    #testimonials h3 {
        text-align: left;
        margin-bottom: 20px;
    }

    #testimonials div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    #testimonials section {
        border-radius: 10px;
        border: 1px solid var(--white);
        width: calc(40%);
        box-sizing: border-box;
    }

    /* 

    About Section

    */

    #about {
        background-color: var(--blue);
        color: var(--white);
        padding-left: 50px;
        padding-right: 50px;
    }

    #about h3 {
        text-align: left;
        margin-bottom: -20px;
    }

    #about div {
        display: flex;
        justify-content: center;
    }

    #about section {
        text-align: center;
        flex: 1;
    }

    #about section img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto 10px;
    }

    /* 

    Contact Section

    */

    #contact {
        max-width: 80%;
        margin: 0 auto;
    }

    #contact h3 {
        text-align: left;
    }

    #contact fieldset {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
    }

    #contact label {
        display: flex;
        align-items: center;
    }

    .form-required {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
    }

    .required {
        color: var(--purple);
    }

    #nums label {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
    }

    #contact legend {
        font-size: 20px;
        font-weight: 600;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    .custom-select select {
        display: block;
        width: 100%;
        border: 2px solid var(--purple);
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .radio-label {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    .radio-control {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 4px solid var(--purple);
        position: relative;
    }

    .custom-select {
        position: relative;
        display: block;
        width: 100%;
    }

    input[type="submit"] {
        display: block;
        font-weight: bold;
        width: 50%;
        margin-left: 50%;
        margin-top: 30px;
        margin-bottom: 20px;

        background-color: var(--purple);
        color: var(--white);
        border: none;
        padding: 20px;
        cursor: pointer;
        font-size: 16px;
    }

    /* 

    Footer Section

    */

    footer {
        background-color: var(--light-Gray);
        text-align: center;
        font-family: 'Montserrat', sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer p {
        margin: 0px;
    }

    footer a {
        color: var(--black);
        text-decoration: none;
        padding-bottom: 25px;
    }
}

/* Responsive Design - Large Screen */
@media screen and (min-width: 1335px) {

    /* 

    Header Section

    */

    header {
        display: grid;
        grid-template-columns: 200px auto auto;
        grid-template-rows: auto auto auto;
        align-items: center;
    }

    #logo {
        grid-row: 1 / 4;
        grid-column: 1;
    }

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 20px;
        grid-row: 1;
        grid-column: 2;
    }

    p {
        grid-row: 2;
        grid-column: 2;
    }

    nav {
        grid-row: 1;
        grid-column: 3;
        margin-top: -55px;
        justify-self: end;
        margin-right: -20px;
    }

    #menu-toggle li {
        padding: 1px;
    }


    /* 

    Intro Section

    */
    #intro {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    #intro h2 {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        margin-top: -20px;
    }

    #intro p {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
    }

    #img-grid {
        grid-column: 2;
        grid-row: 1 / 4;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #img-grid img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    #img-grid picture {
        grid-column: 1 / 3;
        grid-row: 2;
        margin-bottom: 5px;
    }


    /* 

    Plan Section 

    */

    #plan {
        background-color: var(--yellow);
        padding: 20px;
        text-align: center;
    }

    #plan h3 {
        text-align: left;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 40px;
    }

    #plan div {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 20px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    #plan div section {
        background-color: var(--teal);
        border-radius: 10px;
        border: 2px solid var(--white);
        width: calc(40%);
        padding: 15px;
        width: 300px;
        height: 300px;

        box-sizing: border-box;
    }

    #plan div section h4 {
        text-align: center;
        margin-bottom: 10px;
        color: var(--black);
    }

    #plan div section a {
        display: block;
        text-align: center;
    }

    #plan div section img {
        max-width: auto;
        height: auto;
    }

    /* 

    Testimonials Section

    */

    #testimonials {
        padding: 30px;
        text-align: center;
    }

    #testimonials h3 {
        text-align: left;
        margin-bottom: 20px;
        margin-top: 40px;
        margin-left: 40px;
    }

    #testimonials div {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        margin-left: 40px;
        margin-right: 40px;

    }

    #testimonials section {
        border-radius: 10px;
        border: 1px solid var(--white);
        width: calc(40%);
        box-sizing: border-box;
        margin-bottom: 60px;
    }

    /* 

    About Section

    */

    #about {
        background-color: var(--blue);
        color: var(--white);
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #about h3 {
        text-align: left;
    }

    #about div {
        display: flex;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    #about section {
        text-align: center;
        flex: 1;

    }

    #about section img {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto 10px;
    }

    /* 

    Contact Section

    */

    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

    }

    #contact h3 {
        margin-top: 60px;
    }

    form #names {
        grid-column: 1;
        grid-row: 1;

        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    form #nums {
        grid-column: 2;
        grid-row: 1;

        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    form #selects {
        grid-column: 3;
        grid-row: 1;

        display: flex;
        flex-direction: column;
    }

    input[type="submit"] {
        width: 50%;
        padding: 12px;
        margin-bottom: 80px;
    }

    .custom-select .focus {
        top: calc(50% - 10px);
    }

    /* 

    Footer Section

    */

    footer {
        background-color: var(--light-Gray);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: var(--black);
    }

    footer p {
        margin-right: auto;
        margin-left: 80px;
        padding-bottom: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    footer a {
        color: var(--black);
        margin-right: 120px;
        text-decoration: none;
        padding-bottom: 0px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
}