/* Name: D'Mitri Seymour */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset */





/* Start of custom styles */
@import url(https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat);

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-Gray: #222222;
    --light-Gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* For content that needs to be hidden but still accessible, see https://webaim.org/techniques/css/invisiblecontent/ for more information */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--white);
    color: var(--dark-Gray);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Molle', cursive;
    font-weight: 400;
    color: var(--dark-Gray);
}

h2,
h3 {
    font-size: 40px;
}

h4,
p,
q,
small,
nav,
button,
form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--dark-Gray);
}

h4 {
    font-size: 26px;
    font-weight: 600;
}








/* Header */
header {
    background-image: linear-gradient(to bottom, var(--teal), var(--white));
    padding: 1rem;
    text-align: left;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

#logo {
    display: inline-block;
}









/* Navigation */
nav {
    margin-bottom: 1rem;
}

#menu-toggle {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}

#menu-toggle input {
    display: none;
}

#menu-toggle label {
    display: block;
    background-color: var(--yellow);
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#menu-toggle ul {
    display: none;
    list-style-type: none;
    padding: 0;
    background-color: var(--teal);
    color: var(--black);
}

#menu-toggle li a {
    display: block;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    color: var(--black);
}

#menu-toggle input:checked~ul {
    display: block;
}








/* plan section */
main {
    padding: 1rem;
}

#img-grid {
    display: grid;
    grid-template-columns: 1;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 20px;
}

#plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow);
}

#plan section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#plan section h4 {
    text-align: center;
    margin-bottom: 10px;
}

#plan section img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
}







/* testimonials section */
#testimonials h3 {
    text-align: left;
}

#testimonials section {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#testimonials img {
    display: block;
    margin: 0 auto;
}

#testimonials h4 {
    margin-top: 10px;
}

#testimonials p,
#testimonials q {
    display: block;
    margin: 0 auto;
}

#testimonials q {
    font-style: italic;
}






/* about section */
#about {
    background-color: var(--blue);
}

#about h3 {
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

#about div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#about section {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    padding: 10px;
}

#about img,
#about h4,
#about p {
    display: block;
    margin: 0 auto;
}

#about h4 {
    font-size: 20px;
}

#about img {
    width: 100px;
    height: 100px;
}











/* contact section */
#contact {
    max-width: 500px;
    margin: 0 auto;
}

#contact h3 {
    text-align: left;
}

.form-required {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.required {
    color: var(--purple);
}

#contact label {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

#contact legend {
    font-size: 20px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.custom-select select {
    display: block;
    width: 100%;
    border: 2px solid var(--purple);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.radio-input input {
    display: none;
}

.radio-control {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--purple);
    position: relative;
}

.radio-input input:checked+.radio-control::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--purple);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.custom-select {
    position: relative;
    display: block;
    width: 100%;
}

.custom-select select {
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--purple);
    font-size: 16px;
    box-sizing: border-box;
}

.custom-select .focus {
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid var(--purple);
    pointer-events: none;
}

input[type="submit"] {
    display: block;
    width: 100%;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* footer */

footer {
    background-color: var(--light-Gray);
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    padding-bottom: 20px;
}

footer a {
    color: var(--black);
    padding-top: 5px;
    text-decoration: none;
}





/* Responsive Design */
@media screen and (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
    }

    header nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    header nav ul li a {
        padding: 10px;
        display: inline-block;
    }

    .hero {
        height: 300px;
    }

    .content {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    form {
        grid-template-columns: 1fr;
    }

    footer a {
        display: block;
        margin: 5px 0;
    }
}